.btn{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color:  #9dd9fc;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

